body{
  display: flex;
  justify-content: center;
  }
  
  .hola
  {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color:rgb(16, 48, 233) ;   
  flex-direction: column;
  width: 40%; 
  height: auto;
  padding: 30px;
  border-radius: 10px;
  font-style: italic;
  color: antiquewhite;
  }
  
  img
  {
  
  border: solid 4px black; 
      
  }